# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# PyVista / screenshots cache (optional)
*.vtk

# Packaging/build artifacts
*.egg-info/
dist/
build/